<% provide(:title, "Help") %>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="section-heading"> How it works: </h1>
      <hr class = "primary">

      <div class="embed-container">
        <%= embed %>
      </div>

    </div>
  </div>
</div>

<body>

  <section id="request">

    <h1 class="italic"> Request </h1>

    <div class="container">
      <div class="row">

        <div class="col-md-4 text-left">
          <div class="service-box">
            <h1> 1. Top up </h1>
            <p class="text-muted">
            Purchase credits and an admin will approve of the money transaction.
            </p>
          </div>
        </div>

        <div class="col-md-4 text-left">
          <div class="service-box">
            <h1> 2. Request </h1>
            <p class="text-muted">
            When you want something delivered, select New Request.
            </p>
          </div>
        </div>

        <div class="col-md-4 text-left">
          <div class="service-box">
            <h1> 3. Chat </h1>
            <p class="text-muted">
            Discuss on delivery details such as specific collection point or handling of fragile goods.
            </p>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 text-left">
          <div class="service-box">
            <h1> 4. Assign </h1>
            <p class="text-muted">
            Choose a courier you trust and receive live updates on the delivery progress.
            </p>
          </div>
        </div>

        <div class="col-md-6 text-left">
          <div class="service-box">
            <h1> 5. Rate and review </h1>
            <p class="text-muted">
            Your input will help Hedwig couriers to improve and make every delivery a 5-star experience.
            </p>
          </div>
        </div>

      </div>
    </div>

  </section>

  <hr class="width">

  <section id="deliver">

    <h1 class="italic"> Deliver </h1>

    <div class="container">
      <div class="row">

        <div class="col-md-3 text-left">
          <div class="service-box">
            <h1> 1. Look for a delivery </h1>
            <p class="text-muted">
            Search for locations that are convenient for you, or filter by how much you want to be paid.
            </p>
          </div>
        </div>

        <div class="col-md-3 text-left">
          <div class="service-box">
            <h1> 2. Chat with the requester </h1>
            <p class="text-muted">
            Find out if you are able to meet the requester’s expectations.
            </p>
          </div>
        </div>

        <div class="col-md-3 text-left">
          <div class="service-box">
            <h1> 3. Get paid </h1>
            <p class="text-muted">
            Once the job is done, request the completion token from the requester and get paid.
            </p>
          </div>
        </div>

        <div class="col-md-3 text-left">
          <div class="service-box">
            <h1> 4. Stay informed </h1>
            <p class="text-muted">
            View the reviews section on your profile to hear what people liked and disliked so you can decide how to adjust accordingly.
            </p>
          </div>
        </div>

      </div>
    </div>


  </section>

</body>
