<% provide(:title, "Help") %>

<h1> About Hedwig </h1>
<p> Ever wished for a companion like Hedwig who delivered items directly to you? Well, wait no longer! </p>

<h2> Harry </h2>
<p> Tap a button, and create a delilvery task.</p>

<h2> Hedwig </h2>
<p> Help to deliver goods for your fellow citizens and get paid! </p>
