<div class="landing-page">
  <div class="card">
    <div class="media">
      <div class="media-left">
        <%= image_tag('Hedwig Logo.png', size: '34x40', class: 'media-object') %>
      </div>
      <div class="media-body">
        <h1 class="media-heading">Let Hedwig do the running.</h1>
        <p>
          The limitations of today's delivery services:
          <ol>
            <li>
              Costly and only worth the price for bulky items or large quantities of
              items.
            </li>

            <li>
              Lack of availability. Many businesses, especially SMEs, lack delivery
              service.
            </li>

            <li>
              Inefficient. Can range from 3 working days to 2 weeks, and is
              dependent on location and busy schedule.
            </li>
          </ol>
        </p>
      </div>
    </div>
  </div>

  <h3>
    What we offer:
  </h3>

  <div class="card">
    <h2>Fair Pricing</h2>

    <p>
      Based on first degree price discrimination, each requester is willing to pay
      a certain amount for the delivery service. Similarly, each courier is
      willing to carry out the job if the amount paid is higher than their
      expectations. This creates a win-win situation as the requester is able to
      pay for the service within the constraints of his/her disposable income,
      while the courier earns the price difference between the actual price paid
      and his expected price.
    </p>
  </div>

  <div class="card">
    <h2>Available for everyone</h2>

    <p>
      Anyone, public or businesses, can request a delivery. No minimum orders, no
      additional costs, no discrimination.
    </p>
  </div>

  <div class="card">
    <h2>Efficiency</h2>

    <p>
      Via our pricing strategy, jobs are allocated efficiently and delivery time
      is settled during chat between requester and courier.
    </p>
  </div>
</div>
