<div class="small-form-container">
  <div class="small-form">
    <h1>Please login to proceed</h1>

    <button class="btn btn-primary btn-block login-button" style="margin-top: 20px;">Login</button>
  </div>
</div>
