<button class="btn btn-success btn-xs"
        data-task-id="<%= task.id %>"
        data-toggle="modal"
        data-target="#task-completion-modal">
  <i class="glyphicon glyphicon-ok"></i>
  Complete Task
</button>
