<% if task.brand_new? %>
  <% if task.interested_users.empty? %>
    <span class="label label-info">New</span>
  <% else %>
    <span class="label label-info"><%= pluralize(task.interested_users.count, 'interested user') %></span>
  <% end %>
<% elsif task.assigned? %>
  <span class="label label-warning">Assigned</span>
<% elsif task.in_progress? %>
  <span class="label label-primary">In Progress</span>
<% else %>
  <span class="label label-success">Completed</span>
<% end %>
