<div class="star-rating">
  <% rating.times do %>
    <i class="star glyphicon glyphicon-star"></i>
  <% end %>

  <% (5 - rating).times do %>
    <i class="star glyphicon glyphicon-star-empty"></i>
  <% end %>
</div>
