<% provide(:title, current_user.name) %>
<h1>
  <%= gravatar_for current_user %>
  <%= current_user.name %>
</h1>

<%= current_user.email %>, <%= admin = "Admin status: " + current_user.admin.to_s %>
