.ChatApp {
  flex-grow: 1;
  display: flex;

  .master-pane, .detail-pane {
    display: flex;
    flex-direction: column;
  }

  .master-pane {
    flex-grow: 1;

    @media(min-width: $screen-sm-min) {
      flex-basis: 300px;
      flex-grow: 0;
    }
  }

  .detail-pane {
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
  }

  @media(max-width: $screen-xs-max) {
    &.master {
      .detail-pane {
        display: none;
      }
    }

    &.detail {
      .master-pane {
        display: none;
      }
    }
  }
}
