.ThreadsList {
  flex-grow: 1;
  overflow-y: scroll;

  @media(min-width: 751px) {
    border-right: 1px solid gray;
  }

  .item {
    display: block;
    cursor: pointer;
    padding: 10px 5px;
  }

  .item:not(:last-child) {
    border-bottom: 1px solid gray;
  }

  @media(min-width: 751px) {
    .item.active {
      background-color: #FAEFED;
    }
  }
}
