.ThreadsList {
  flex-grow: 1;
  overflow-y: scroll;

  @media(min-width: $screen-sm-min) {
    border-right: 1px solid gray;
  }

  .item {
    display: block;
    cursor: pointer;
    padding: 10px 5px;
  }

  .item:not(:last-child) {
    border-bottom: 1px solid gray;
  }

  .item.unread {
    font-weight: bold;
  }

  @media(min-width: $screen-sm-min) {
    .item.active {
      background-color: lighten($brand-primary, 52);
    }
  }
}
