@import "bootstrap-sprockets";
@import "simplex/_variables";
@import "bootstrap";
@import "simplex/_bootswatch";
@import "./**/*";
@import url(https://fonts.googleapis.com/css?family=Lora|Open+Sans:300);

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #F7F6F2;
  color: darken(#F7F6F2, 70%);
  font-family: "Helvetica Neue", "Open Sans";
  font-weight: 200;
  font-size: 20px;
}

body.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > div {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", "Georgia", serif;
  color: black;
}

.label {
  font-size: 12px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.small-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.small-form {
  flex-basis: 300px;
  border: 1px solid $gray;
  border-radius: $border-radius-base;
  padding: 0 18px 18px 18px;
}

.turbolinks-progress-bar {
  background-color: $brand-primary;
}

.header-with-search {
  @media (min-width: $screen-sm-min) {
    display: flex;

    h1, h2, h3, h4, h5, h6 {
      flex-grow: 1;
    }

    form {
      flex-basis: 265px;
      margin-top: 18px;
    }
  }

  @media (max-width: $screen-xs-max) {
    form {
      width: 100%;
    }
  }
}
