// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  flex-basis: 300px;
  border: 1px solid $gray;
  border-radius: $border-radius-base;
  padding: 0 18px 18px 18px;
}
