// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 768px) {
  .landing-page {
    padding-left: 12%;
    padding-right: 12%;
  }
}

.card {
  h1, h2 {
    margin-top: 0px;
  }

  border: 1px solid #ccc;
  padding: 20px 25px 15px;
  background-color: white;
  box-shadow: 2px 2px 5px 1px #999;

  &:not(:first-child) {
    margin-top: 35px;
  }
}
