.tasks-index {
  .list-group-item {
    display: flex;
  }

  .price {
    flex-basis: 90px;
    text-align: right;
    padding-right: 20px;
  }

  .info {
    flex-grow: 1;
  }
}

.interested-users {
  .list-group-item {
    display: flex;
  }

  .user-info {
    flex-grow: 1;
  }

  .assign-button {
    padding-right: 5px;
  }

  .buttons {
    form {
      display: inline-block;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .tasks-index {
    .list-group-item {
      flex-wrap: wrap;
    }

    .info {
      order: 0;
      flex-basis: 100%;
    }

    .price {
      order: 1;
      flex-grow: 0;
      padding-right: 0;
      flex-basis: auto;
    }

    .express-interest {
      order: 2;
      flex-grow: 1;
      text-align: right;
    }
  }

  .interested-users {
    .list-group-item {
      flex-wrap: wrap;
    }

    .user-info {
      flex-basis: 100%;
      display: flex;

      .user-name {
        flex-grow: 1;
      }
    }

    .buttons {
      flex-grow: 1;
      text-align: right;
    }
  }
}
