<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Hedwig", "#" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in" %></li>
      </ul>
    </nav>
  </div>
</header>

